.communicate{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-bottom: $margin;
    margin-left: 2%;
    div{
        background-color: $colortext;
        width: 40%;
    }
    .phone{
        padding-left: 2%;
        text-align: center;
        border-right: 2px solid $colortextp;
        border-left: 2px solid $colortextp;
        width: 30%;
    }
    
}